<div class="zhaninfo">
        <span class="z-title">友情链接</span>
        <div class="youq">
            <a href="http://www.baidu.com">百度</a>
            <a href="http://www.baidu.com">淘宝</a>
            <a href="http://www.baidu.com">京东</a>
            <a href="http://www.baidu.com">新浪</a>
            <a href="http://www.baidu.com">网易</a>
            <a href="http://www.baidu.com">腾旭</a>
            <a href="http://www.baidu.com">搜狗</a>
            <a href="http://www.baidu.com">华为</a>
            <a href="http://www.baidu.com">中兴</a>
            <a href="http://www.baidu.com">天猫</a>
        </div>
    </div>