*{
    margin: 0;
    padding: 0;
}
body{
    background: #2fd0f8;
}
.user{
    position: absolute;
    margin: auto;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 25rem;
    height: 15rem;
    border-radius: 10px;
    background: #fff;
}
.user-menu{
    padding: 3rem  0;
}
.user-menu>li{
    list-style: none;
    text-align: center;
    padding: 1rem 0;
    font-size: 0.9rem;
}
.user-menu>li:last-child>div,.user-menu>li:last-child>input{
    margin: 0 2rem;
    display: inline-block;
}
.user-menu>li:last-child>div>input{
    position: relative;
    top: 0.1rem;
}
.user-menu>li:last-child>input{
    width: 5rem;
    border-style: none;
    background: blue;
    color: #fff;
    outline: none;
    padding: 0.2rem 0;
}
.user-item>input{
    outline: none;
    padding-left: 0.2rem;
}
.error{
    position: absolute;
    width: 100%;
    color: red;
    text-align: left !important;
    font-size: 0.6rem;
    top: 8rem;
    left: 6rem;
}
